@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Shizuru&family=Smooch+Sans&display=swap');

$color1: rgb(18, 74, 77);
$color2: rgba(95, 158, 160, 0);
$color3: rgb(17, 201, 238);


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.contenedorHeader{
    background-color:$color1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.form-header{
    width: 50vw;
    display: flex;
}
.enlaceLogo{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

    &:hover{
        text-decoration: none;
        color: white;
    }
}

.buscar{
    width: 90%;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 5px;
}

.dropdown-menu{
    border-radius: 5px;
    background-color: $color2;
    border: none;
}
.dropdown-item{
    color: black;  
    text-align: center;
    border-radius: 10px;
    border: 1px solid $color3;
    background-color: white;
    margin: 5px 0;

    &:hover{
        background-color: white;
        box-shadow: 2px 2px 2px black;
        transform: scale(1.1);
        transition: 0.5s;
    }

    &:active{
        color: black;
    }
}

/* NavBar */
.navbar{
    background-color: $color1 !important;
    width: 100%;
}
.dropdownNav{
    background-color: $color1;
    border: none;
}
.dropdownNav:focus{
    background-color: $color1;
    border: none;
}
.margendir{
    margin-right: 15px;
}


/* HERO */
.heroppal{
    background-image: url("https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    font-family: "Oswald";
    font-size: 30px;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px black;
    h2{
        font-size: 60px;
        font-weight: bolder;
        margin-left: 30px;
    }
    p{
        margin-left: 30px;
    }
}

.prom{
    position: relative;
    top: 0px;
    right: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin:auto;
    padding: 10px 0;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color:  $color1;
    width: 100%;
    
}
.ofertanim{
    position: absolute;
    bottom: 0px;
    right: 40px;
    width: 200px;
    height: 200px;
    background-image: url("../IMG/prueba.png");
    background-position: center;
    background-size: cover;
    animation-name: crecimientocontinuo;  
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.carousel{
    width: 100%;
    text-align: center;
}
.carousel-inner{
    text-align: center;
    line-height: 100%;
}
.carousel-item img{

    width: 80%;
}
.carousel-indicators{
    li{
        background-color: black;
        height: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }
}

.carousel-control-prev{
    background-image: url("https://icongr.am/jam/chevron-left.svg?size=100&color=124a4d ");
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-control-next{
    background-image: url("https://icongr.am/jam/chevron-right.svg?size=100&color=124a4d");
    background-position: center;
    background-repeat: no-repeat;
}

.contenedorMain{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.contenedorMains{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}

.contenedorCate{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900px;

}

.contP1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .anchocompleto{
        background-color: $color1;
        color:  white;
        padding: 15px;
        font-size: 40px;
    }
}
.card{
    text-transform: capitalize;
    margin: 10px;
    box-shadow: 2px 2px 2px black;
    background-color: $color1 ;
    color: white;
    img{
        margin: 0 auto;
        width: 100%;
        height: 350px;
    }
    &:hover{
        transform: scale(1.05) !important;
        transition: 0.7s;
    }
}
.btn-primary{
    background-color: $color1;
    color:  white;

    &:hover{
        background-color: $color3;
    }
}
footer{
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $color3;
}
.datosfooter{
    text-align: center;
    h4{
        padding-top: 30px;
    }
}
.enlacered:hover{
    text-decoration: none;
}
.anchocompleto{
    width: 100%;
    
}
.titulocumple{
    text-align: center;
    color: blueviolet;
}


// PLICANDO SASS II en cumpleaños
.categor{
    height: 300px;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
}

@mixin fondocate($bcolor){
    background-color: $bcolor;
}

$categorias: (
    cat1: 'Smooch Sans',
    cat2: 'Shizuru', 
    cat3: 'BhuTuka Expanded One',
);

@each $cate, $fuen in $categorias {
    .categoria-#{$cate}{
        @extend .categor;
        text-align: center;
        font-family: $fuen;        

        h2{
            line-height: 300px;
            font-size: 80px;
        }


        @if $cate == cat1{
            @include fondocate(silver)
        }
        @else if $cate == cat2{
            @include fondocate(gold)
        }
        @else if $cate == cat3{
            @include fondocate(dodgerblue)
        }
        @else{
            background-color: black;
        }
    }    
}

// FIN PLICANDO SASS II


@keyframes crecimientocontinuo {    
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.1);
    }
    35%{
        transform: scale(1);
    }
    45%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    55%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(-10deg);
    }
    70%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }  
}

@media only screen and (min-width: 0px) and (max-width: 650px){
    .contenedorHeader{
        display: block;
        text-align: center;
    }
    .contenedorHeader section{
        margin: 10px 0;
    }
    .form-header{
        width: 98%;
        float: center;
    }
    .buscar{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    .dropdown-menu{
        width: 100%;
    }
    .ofertanim{
        width: 100px;
        height: 100px;
    }
}
@media only screen and (min-width: 0px) and (max-width:460px){
    footer iframe{
        width: 100%;
    }
    .btn{
        margin: 2px 0px;
    }
    .ofertanim{
        right: 10px;
    }
    .prom{
        text-align: left;
        padding-left: 30px;
    }
}